In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
from sklearn.preprocessing import StandardScaler

In [3]:
data = pd.read_parquet("./data/data")

In [20]:
txt2loc = data.groupby('locTxt')['lat','lng'].mean()

C:\Users\Eloua\AppData\Local\Temp\ipykernel_8888\2431446646.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  txt2loc = data.groupby('locTxt')['lat','lng'].mean()

In [32]:
txt2loc.to_parquet('./data/txt2loc')

In [43]:
data['lng'] = data['locTxt'].apply(lambda x: txt2loc['lng'][txt2loc['locTxt'] == x].item())

In [ ]:
data

In [7]:
c_col = data.select_dtypes(include=['object']).columns
# n_col = data.select_dtypes(include=['int64', 'float64']).columns

In [53]:
data = data.drop(columns=['etatgenerale'])

In [62]:
data.finition.value_counts()

Correct              45761
Refait à neuf         2820
Travaux à prévoir      901
Name: finition, dtype: int64

In [63]:
_finition = {'Correct': 2,
                      'Refait à neuf': 1,
                      'Travaux à prévoir': 0}
data['finition'] = data['finition'].map(_finition)

In [ ]:
_anneeconstruction = {'Je ne sais pas': -1,
                  'Construction neuve': 0,
                  'Moins de 5 ans': 1,
                  'Moins de 10 ans': 2,
                  'Entre 10 ans et 20 ans': 3,
                  'Plus de 20 ans': 4}
data['anneeconstruction'] = data['anneeconstruction'].map(_anneeconstruction)

In [64]:
data.head()

,target,price,lat,lng,anneeconstruction,room,bathroom,surfaceconstruite,finition,piscine,cheminee,vueexceptionnelle,garage,climatisation
0,10230.0,2600000.0,30.413578,-9.567632,-1,3.0,2.0,112.0,2,1,1,1,1,1
1,10230.0,3500000.0,30.413578,-9.567632,-1,4.0,2.0,299.0,2,1,1,1,1,1
2,10230.0,2500000.0,30.413578,-9.567632,-1,3.0,2.0,140.0,2,1,1,1,1,1
3,10230.0,1600000.0,30.413578,-9.567632,-1,5.0,4.0,75.0,1,0,0,0,0,0
4,10230.0,4500000.0,30.413578,-9.567632,-1,1.0,1.0,750.0,1,1,1,1,1,1

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

imputer = SimpleImputer(strategy="median")
scaler = StandardScaler()

numericalData = imputer.fit_transform(numericalData) # Handling Missing Data
numericalData = pd.DataFrame(scaler.fit_transform(numericalData), columns=num_columns) # Data Normalization 
numericalData

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler

ordinal_encoder = OrdinalEncoder()
scaler = StandardScaler()

categoricalData = ordinal_encoder.fit_transform(categoricalData) # convert categorical features (discrete) to ordinal integers  
categoricalData = imputer.fit_transform(categoricalData) # Handling Missing Data
categoricalData = pd.DataFrame(scaler.fit_transform(categoricalData), columns=cat_columns) # Data Normalization
categoricalData